
#graph{
    position: relative;
    margin: 2% auto;
    margin-bottom: 7%;
    width: 50%;
    height: 500px;
    border-left: 4px solid #888888;
    border-bottom: 4px solid #888888;
    opacity: .9;
}


.inputBox{
    position: absolute;
    width:10%;
    bottom: -17%;
    left: 1px;


}
.bar{
    opacity: .2;
    position: absolute;
    width: 10%;
    height: 250px;

    margin: 0 5%;
    bottom: 0;
    
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

-webkit-box-shadow: 4px 0px 8px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    4px 0px 8px rgba(50, 50, 50, 0.41);
box-shadow:         4px 0px 8px rgba(50, 50, 50, 0.41);
}

.xField{
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 2%;
    position: absolute;
    bottom: -15%;
    left: 1px;
    width: 10%;
    text-align: center;

}


#submit{
 position: relative;
    width: 120px;
    height: 120px;
    background-color: #1a44ff;

    margin: 10% auto;

    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;

    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

}

#submit:hover{
    -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.71);
    -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.71);
    box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.71);
}
#go{
    font-weight: 100;
    position: absolute;
    font-size: 2.5em;
    margin-left: 20%;
    top: -7%;
    color:#e7e9eb;
    text-shadow: -1px -1px 1px #686869;

}






#f1, #i1{
    margin-left: 5%;
}

#f2, #i2{
    margin-left: 20%;
}

#f3, #i3{
    margin-left: 35%;
}
#f4, #i4{
    margin-left: 50%;
}
#f5, #i5{
    margin-left: 65%;
}
#f6, #i6{
    margin-left: 80%;
}






#bar1{
    background-color: #fc1f07;
}

#bar2{
    margin-left:20%;
    background-color: #eb6319;
}
#bar3{
    margin-left: 35%;
    background-color: #a4f813;
}
#bar4{
    margin-left:50%;
    background-color: #1fc63c;
}
#bar5{
    margin-left:65%;
    background-color: #e9d524;
}
#bar6{
    margin-left:80%;
    background-color: #ee4c14;
}














































/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
